<nav class="navbar navbar-expand-lg header-nav">
  <div class="navbar-header">
    <a id="mobile_btn" routerLink="javascript:void(0);">
      <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>
    <a routerLink="" class="navbar-brand logo">
      <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
    </a>
  </div>
  <div class="main-menu-wrapper">
    <div class="menu-header">
      <a routerLink="" class="menu-logo">
        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
      </a>
      <a id="menu_close" class="menu-close" routerLink="javascript:void(0);">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <ul class="main-nav" (click)="checkActiveRoute()">
      <ng-container *ngFor="let item of navItems">
        <li *ifAuthorized=" item.authorizedRoles ? item.authorizedRoles : ['ROLE_GUEST']"
          [ngClass]="{'has-submenu': item.children && item.children.length > 0, 'active': item.isActive}">
          <i *ngIf="item.icon" [ngClass]="item.icon"></i>
          <a *ngIf="item.children && item.children.length > 0">
            <span>{{item.label}}</span>
            <i class="fas fa-chevron-down"></i>
          </a>
          <a *ngIf="!item.children || item.children.length == 0" routerLink="{{item.path}}">
            <span>{{item.label}}</span>
          </a>
          <ul *ngIf="item.children && item.children.length > 0" class="submenu">
            <ng-container *ngFor="let childItem of item.children">
              <li *ifAuthorized=" childItem.authorizedRoles ? childItem.authorizedRoles : ['ROLE_GUEST']"
                [ngClass]="{'active': childItem.isActive}">
                <a routerLink="{{childItem.path}}">{{childItem.label}}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
    <!--     <ul class="main-nav">
      <li class="has-submenu active">
        <a>Home <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li class="active"><a routerLink="home">Home</a></li>
          <li><a routerLink="home1">Home 1</a></li>
          <li><a routerLink="home2">Home 2</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a>Doctors <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a routerLink="doctor-dashboard">Doctor Dashboard</a></li>
          <li><a routerLink="appointments">Appointments</a></li>
          <li><a routerLink="schedule-timings">Schedule Timing</a></li>
          <li><a routerLink="my-patients">Patients List</a></li>
          <li><a routerLink="patient-profile">Patients Profile</a></li>
          <li><a routerLink="chat-doctor">Chat</a></li>
          <li><a routerLink="invoices">Invoices</a></li>
          <li><a routerLink="doctor-profile-settings">Profile Settings</a></li>
          <li><a routerLink="reviews">Reviews</a></li>
          <li><a routerLink="doctor-register">Doctor Register</a></li>
          <li class="has-submenu">
            <a routerLink="doctor-blog">Blog</a>
            <ul class="submenu">
              <li><a routerLink="doctor-blog">Blog</a></li>
              <li><a routerLink="blog-details">Blog view</a></li>
              <li><a routerLink="doctor-add-blog">Add Blog</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has-submenu">
        <a>Patients <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li class="has-submenu">
            <a>Doctors</a>
            <ul class="submenu">
              <li><a routerLink="map-grid">Map Grid</a></li>
              <li><a routerLink="map-list">Map List</a></li>
            </ul>
          </li>
          <li><a routerLink="search">Search Doctor</a></li>
          <li><a routerLink="doctor-profile">Doctor Profile</a></li>
          <li><a routerLink="booking">Booking</a></li>
          <li><a routerLink="checkout">Checkout</a></li>
          <li><a routerLink="booking-success">Booking Success</a></li>
          <li><a routerLink="patient-dashboard">Patient Dashboard</a></li>
          <li><a routerLink="favourites">Favourites</a></li>
          <li><a routerLink="chat">Chat</a></li>
          <li><a routerLink="profile-settings">Profile Settings</a></li>
          <li><a routerLink="change-password">Change Password</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a>Pharmacy <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a routerLink="pharmacy">Pharmacy</a></li>
          <li><a routerLink="pharmacy-details">Pharmacy Details</a></li>
          <li><a routerLink="pharmacy-search">Pharmacy Search</a></li>
          <li><a routerLink="product-all">Product</a></li>
          <li><a routerLink="product-description">Product Description</a></li>
          <li><a routerLink="cart">Cart</a></li>
          <li><a routerLink="product-checkout">Product Checkout</a></li>
          <li><a routerLink="payment-success">Payment Success</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a>Pages <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a routerLink="voice-call">Voice Call</a></li>
          <li><a routerLink="video-call">Video Call</a></li>
          <li><a routerLink="search">Search Doctors</a></li>
          <li><a routerLink="calendar">Calendar</a></li>
          <li><a routerLink="components">Components</a></li>
          <li class="has-submenu">
            <a routerLink="invoices">Invoices</a>
            <ul class="submenu">
              <li><a routerLink="invoices">Invoices</a></li>
              <li><a routerLink="invoice-view">Invoice View</a></li>
            </ul>
          </li>
          <li><a routerLink="blank-page">Starter Page</a></li>
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="register">Register</a></li>
          <li><a routerLink="forgot-password">Forgot Password</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a>Blog <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a routerLink="blog-list">Blog List</a></li>
          <li><a routerLink="blog-grid">Blog Grid</a></li>
          <li><a routerLink="blog-details">Blog Details</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a target="_blank">Admin <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a routerLink="" target="_blank">Admin</a></li>
          <li><a routerLink="" target="_blank">Pharmacy Admin</a></li>
        </ul>
      </li>
      <li class="login-link">
        <a routerLink="login">Login / Signup</a>
      </li>
    </ul> -->
  </div>
  <ul class="nav header-navbar-rht">
    <li class="nav-item contact-item">
      <div class="header-contact-img">
        <i class="far fa-hospital"></i>
      </div>
      <div class="header-contact-detail">
        <p class="contact-header">Contact</p>
        <p class="contact-info-header"> +1 315 369 5943</p>
      </div>
    </li>
    <li *ngIf="!currentUser"><a class="nav-link header-login" routerLink="login">login / Signup </a></li>
    <!-- User Menu -->
    <li *ngIf="currentUser" class="nav-item dropdown has-arrow logged-item">
      <a class="dropdown-toggle nav-link" data-toggle="dropdown">
        <span class="user-img">
          <img class="rounded-circle"
            src="https://ui-avatars.com/api/?name={{currentUser.firstName + '+' + currentUser.lastName}}&length=2&bold=true&rounded=true&background={{currentUser.gender == 'female' ? 'F3B8DA' : 'b8d8f3'}}"
            width="31" alt="{{currentUser.firstName + '+' + currentUser.lastName}}">
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="user-header">
          <div class="avatar avatar-sm">
            <img
              src="https://ui-avatars.com/api/?name={{currentUser.firstName + '+' + currentUser.lastName}}&length=2&bold=true&rounded=true&background={{currentUser.gender == 'female' ? 'F3B8DA' : 'b8d8f3'}}"
              alt="{{currentUser.firstName + '+' + currentUser.lastName}}" class="avatar-img rounded-circle">
          </div>
          <div class="user-text">
            <h6>{{currentUser.firstName + ' ' + currentUser.lastName}}</h6>
            <p class="text-muted mb-0">
              <span *ifAuthorized="[rolesEnum.ROLE_PATIENT]">Patient</span>
              <span *ifAuthorized="[rolesEnum.ROLE_DOCTOR]">Doctor</span>
              <span *ifAuthorized="[rolesEnum.ROLE_ADMIN]">Admin</span>
            </p>
          </div>
        </div>

        <ng-container *ngFor="let userMenuItem of userMenuItems">
          <a *ifAuthorized="userMenuItem.authorizedRoles ? userMenuItem.authorizedRoles : [rolesEnum.ROLE_GUEST]"
            class="dropdown-item" [routerLink]="userMenuItem.path">
            {{userMenuItem.label}}
          </a>
        </ng-container>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
    <!-- /User Menu -->
  </ul>
</nav>
