<!-- Main Wrapper -->
<div class="main-wrapper" >

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-6 col-lg-12 order-md-last order-sm-last order-last map-left">
                    <div *ngIf="doctors && doctors.length > 0">
                        <div class="row align-items-center mb-4">
                            <div class="col-md-6 col">
                                <h4>{{doctors.length}} matches found</h4>
                            </div>

                            <div class="col-md-6 col-auto">
                                <div class="view-icons ">
                                    <a class="grid-view" [ngClass]="isListMode == false ? 'active' : ''" (click)="isListMode = false">
                                        <i class="fas fa-th-large"></i>
                                    </a>
                                    <a class="list-view" [ngClass]="isListMode == true ? 'active' : ''"(click)="isListMode = true">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <app-doctor-searcher-grid *ngIf="!isListMode" [doctors]="doctors" [pageSize]="pageSize"></app-doctor-searcher-grid>
                        <app-doctor-searcher-list *ngIf="isListMode" [doctors]="doctors" [pageSize]="pageSize"></app-doctor-searcher-list>

                        <div class="load-more text-center">
                            <a class="btn btn-primary btn-sm" (click)="loadMore()" *ngIf="doctors.length > pageSize">Load More</a>
                        </div>
                    </div>
                    <div *ngIf="!doctors || (doctors && doctors.length == 0)" class="no-data">
                        <span><i class="fas fa-user-slash"></i></span>
                        <span>No doctors found</span>
                    </div>
                </div>

                <!-- /content-left-->

                <div class="col-xl-6 col-lg-12 map-right">
                    <!-- map-->

                    <div id="map" class="map-listing">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker 
                                *ngFor="let doctor of doctors; let i = index"
                                [latitude]="doctor.citylat"
                                [longitude]="doctor.citylng"
                                [label]="doctor.cityName">
        
                                <agm-info-window>
                                    <div class="doc-info-cont" (click)="viewDoctorProfile(doctor.id)">
                                        <a>Dr. {{doctor.firstName}} {{doctor.lastName}}</a>
                                        <i class="fas fa-check-circle verified"  style="color: green; margin-left: 5px;"></i>
                                        <p class="speciality">{{doctor.jobTitle}}</p>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span *ngIf="doctor.city"> {{doctor.cityName}}</span>
                                            <span *ngIf="!doctor.city"> Address not mentioned</span>
                                        </li>
                                        <li>
                                          <i class="fas fa-hand-holding-usd"></i>
                                          <span *ngIf="doctor.insuranceNames && doctor.insuranceNames.length > 0">
                                            <span *ngFor="let insurance of doctor.insuranceNames; let j = index">
                                                {{insurance.name}}<span *ngIf="j < doctor.insuranceNames.length - 1">,</span>
                                            </span>
                                          </span>
                                          <span *ngIf="!doctor.insuranceNames || (doctor.insuranceNames && doctor.insuranceNames.length == 0)">
                                              No insurances defined
                                          </span>
                                        </li>
                                    </ul>
                                </agm-info-window>

                            </agm-marker>
                        </agm-map>
                    </div>
                </div>
                <!-- /map-right-->
            </div>
            <!-- /row-->

        </div>

    </div>
    <!-- /Page Content -->

</div>
<!-- </body> -->
<!-- /Main Wrapper -->
