<!-- Main Wrapper -->
<div class="main-wrapper">
    
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Dashboard</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    
    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid" *ngIf="currentUser">

            <div class="row">
                
                <!-- Profile Sidebar -->
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                    <div class="profile-sidebar">
                        <div class="widget-profile pro-widget-content">
                            <div class="profile-info-widget">
                                <a  class="booking-doc-img">
                                    <img class="rounded-circle"
                                        src="https://ui-avatars.com/api/?name={{currentUser.firstName + '+' + currentUser.lastName}}&length=2&bold=true&rounded=true&background={{currentUser.gender.toLowerCase() == 'female' ? 'F3B8DA' : 'b8d8f3'}}"
                                        width="31" alt="{{currentUser.firstName + '+' + currentUser.lastName}}">
                                </a>
                                <div class="profile-det-info">
                                    <h3>{{currentUser.firstName + ' ' + currentUser.lastName}}</h3>
                                    <div class="patient-details">
                                        <h5><i class="fas fa-birthday-cake"></i> {{currentUser.birthDate | date: 'mediumDate'}}, {{currentUserAge}} years</h5>
                                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <nav class="dashboard-menu">
                                <ul>
                                    <li [ngClass]="{'active': patientSummaryDisplayed}">
                                        <a (click)="displayPatientSummary()">
                                            <i class="fas fa-columns"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li [ngClass]="{'active': favouritesDisplayed}">
                                        <a (click)="displayFavourites()">
                                            <i class="fas fa-bookmark"></i>
                                            <span>Favourites</span>
                                        </a>
                                    </li> 
                                    <li>
                                        <a>
                                            <i class="fas fa-users"></i>
                                            <span>Dependent</span>
                                        </a>
                                    </li> 
                                    <li>
                                        <a >
                                            <i class="fas fa-comments"></i>
                                            <span>Message</span>
                                            <small class="unread-msg">23</small>
                                        </a>
                                    </li>
                                    <li [ngClass]="{'active': profileSettingsDisplayed}">
                                        <a (click)="displayProfileSettings()">
                                            <i class="fas fa-user-cog"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li [ngClass]="{'active': changePasswordDisplayed}">
                                        <a (click)="displayChangePassword()">
                                            <i class="fas fa-lock"></i>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
                <!-- / Profile Sidebar -->
                
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <app-patient-summary *ngIf="patientSummaryDisplayed"></app-patient-summary>
                    <app-favourites *ngIf="favouritesDisplayed"></app-favourites>
                    <app-profile-settings *ngIf="profileSettingsDisplayed" [currentUser]="currentUser"></app-profile-settings>
                    <app-change-password *ngIf="changePasswordDisplayed"></app-change-password>
                </div>
            </div>

        </div>

    </div>		
    <!-- /Page Content -->
    
</div>
<!-- /Main Wrapper -->