<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Schedule Timings</h4>
        <div class="profile-box">
          <div class="row">
            <div class="col-md-12">
              <div class="card schedule-widget mb-0">

                <!-- Schedule Header -->
                <div class="schedule-header">

                  <!-- Schedule Nav -->
                  <div class="schedule-nav">
                    <ul class="nav nav-tabs nav-justified">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="selectedDay = 'Sunday'">Sunday</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" (click)="selectedDay = 'Monday'">Monday</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="selectedDay = 'Tuesday'">Tuesday</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="selectedDay = 'Wednesday'">Wednesday</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="selectedDay = 'Thursday'">Thursday</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="selectedDay = 'Friday'">Friday</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="selectedDay = 'Saturday'">Saturday</a>
                      </li>
                    </ul>
                  </div>
                  <!-- /Schedule Nav -->

                </div>
                <!-- /Schedule Header -->

                <!-- Schedule Content -->
                <div class="tab-content schedule-cont">

                  <!-- Slot List -->
                  <div class="doc-times">
                    <div class="row align-items-center" *ngIf="timeSheets[selectedDay]">
                      <div class="col-auto">
                        <label for="startTime" style="margin-right: 10px;">Start Time</label>
                        <p-calendar [(ngModel)]="timeSheets[selectedDay].startTime" [timeOnly]="true"
                          inputId="startTime"></p-calendar>
                      </div>
                      <div class="col-auto">
                        <label for="endTime" style="margin-right: 10px;">End Time</label>
                        <p-calendar [(ngModel)]="timeSheets[selectedDay].endTime" [timeOnly]="true" inputId="endTime">
                        </p-calendar>
                      </div>
                      <div class="col">
                        <i class="fas fa-save save-btn" pTooltip="Save {{selectedDay}} TimeSheet" tooltipPosition="bottom"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /Slot List -->

                </div>

              </div>
              <!-- /Schedule Content -->
              <br>
              <div class="d-flex flex-row-reverse">
                <p-button class="green-btn semi-bold-btn" label="Save All" icon="pi pi-check" iconPos="right">
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
