
<div *ngFor="let doctor of doctors; let i=index">
    <div class="card" *ngIf="i < pageSize">
        <div class="card-body">
            <div class="doctor-widget">
                <div class="doc-info-left">
                    <div class="doctor-img">
                        <a (click)="viewDoctorProfile(doctor.id)">
                            <img src="assets/img/doctors/doctor_{{doctor.gender.toLowerCase()}}.jpg" class="img-fluid" alt="User Image">
                        </a>
                    </div>
                    <div class="doc-info-cont">
                        <h4 class="doc-name">
                            <a (click)="viewDoctorProfile(doctor.id)">Dr. {{doctor.firstName}} {{doctor.lastName}}</a>
                        </h4>
                        <p class="doc-department">{{doctor.jobTitle}}</p>
                        <!-- <h5 class="doc-department"><img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">Dentist</h5> -->
                        <!-- <div class="rating">
                            <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 1 ? 'filled' : ''"></i>
                            <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 2 ? 'filled' : ''"></i>
                            <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 3 ? 'filled' : ''"></i>
                            <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 4 ? 'filled' : ''"></i>
                            <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 5 ? 'filled' : ''"></i>
                            <span class="d-inline-block average-rating">({{doctor.feedbacks.length}})</span>
                        </div> -->
                        <div class="clinic-details">
                            <p class="doc-location"><i class="fas fa-map-marker-alt"></i>
                                <span *ngIf="doctor.cityName"> {{doctor.cityName}}</span>
                                <span *ngIf="!doctor.cityName"> Address not mentioned</span>
                            </p>
                            <ul class="clinic-gallery">
                                <li>
                                    <a routerLink="assets/img/features/feature-01.jpg" data-fancybox="gallery">
                                        <img src="assets/img/features/feature-01.jpg" alt="Feature">
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="assets/img/features/feature-02.jpg" data-fancybox="gallery">
                                        <img  src="assets/img/features/feature-02.jpg" alt="Feature">
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="assets/img/features/feature-03.jpg" data-fancybox="gallery">
                                        <img src="assets/img/features/feature-03.jpg" alt="Feature">
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="assets/img/features/feature-04.jpg" data-fancybox="gallery">
                                        <img src="assets/img/features/feature-04.jpg" alt="Feature">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clinic-services">
                            <span *ngFor="let speciality of doctor.specialtyNames">{{speciality}}</span>
                        </div>
                    </div>
                </div>
                <div class="doc-info-right">
                    <div class="clini-infos">
                        <ul>
                            <li><i class="far fa-comment"></i> {{doctor.feedbacks.length}} Feedback</li>
                            <li><i class="fas fa-map-marker-alt"></i>
                                <span *ngIf="doctor.cityName"> {{doctor.cityName}}</span>
                                <span *ngIf="!doctor.cityName"> Address not mentioned</span></li>
                            <li>
                                <i class="fas fa-hand-holding-usd"></i>
                                <span *ngIf="doctor.insuranceNames && doctor.insuranceNames.length > 0">
                                    <span *ngFor="let insurance of doctor.insuranceNames; let j = index">
                                        {{insurance.name}}<span *ngIf="j < doctor.insuranceNames.length - 1">,</span>
                                    </span>
                                </span>
                                <span *ngIf="!doctor.insuranceNames || (doctor.insuranceNames && doctor.insuranceNames.length == 0)">
                                    No insurances defined
                                </span>
                            </li>
                            <li *ngIf="doctor.phoneNumbers && doctor.phoneNumbers.length > 0 ">
                                <i class="fas fa-phone"></i>
                                <span> {{doctor.phoneNumbers[0]}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="clinic-booking">
                        <a class="view-pro-btn" (click)="viewDoctorProfile(doctor.id)">View Profile</a>
                        <a class="apt-btn" (click)="bookAppointment(doctor.id)">Book Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
