<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-lg-6">
            
                <!-- Change Password Form -->
                <form>
                    <div class="form-group"[ngClass]="{'invalid-input': (submitTouched || _oldPassword.touched) && _oldPassword.invalid,
                    'valid-input': (submitTouched || _oldPassword.touched) && _oldPassword.valid}">
                      <label>Old Password</label>
                      <input type="password" class="form-control floating" name="_oldPassword" [(ngModel)]="oldPassword"
                        #_oldPassword="ngModel" required>
                    </div>
                    <div class="form-group" [ngClass]="{'invalid-input': (submitTouched || password.touched) && password.invalid,
                    'valid-input': (submitTouched || password.touched) && password.valid}">
                      <label>New Password</label>
                      <input type="password" class="form-control floating" name="password" [(ngModel)]="currentUser.plainPassword"
                        #password="ngModel" required>
                    </div>
                    <div class="form-group"
                      [ngClass]="{'invalid-input': (submitTouched || confirmPasswordForm.touched) && (confirmPasswordForm.invalid || currentUser.plainPassword != confirmPassword),
                    'valid-input': (submitTouched || confirmPasswordForm.touched) && (confirmPasswordForm.valid && currentUser.plainPassword == confirmPassword)}">
                      <label>Confirm Password</label>
                      <input type="password" class="form-control floating" name="confirm-password" [(ngModel)]="confirmPassword"
                        #confirmPasswordForm="ngModel" required>
                      <div *ngIf="submitTouched || confirmPasswordForm.touched" class="custom-form-error">
                        <span *ngIf="confirmPasswordForm.invalid && (submitTouched || password.dirty || password.touched)">
                          * Please confirm your password.
                        </span>
                        <span
                          *ngIf="confirmPassword && (currentUser.plainPassword != confirmPassword) && (submitTouched || confirmPasswordForm.dirty || confirmPasswordForm.touched)">
                          * Passwords do not match.
                        </span>
                      </div>
                    </div>
                    <div class="submit-section">
                      <button type="submit" (click)="submit()" class="btn btn-primary submit-btn">Save Changes</button>
                    </div>
                  </form>
                <!-- /Change Password Form -->
                
            </div>
        </div>
    </div>
</div>
