<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Doctor Profile</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <!-- Doctor Widget -->
            <div class="card">
                <div class="card-body" *ngIf="doctor">
                    <div class="doctor-widget">
                        <div class="doc-info-left">
                            <div class="doctor-img">
                                <img src="assets/img/doctors/doctor_{{doctor.gender.toLowerCase()}}.jpg" class="img-fluid" alt="User Image">
                            </div>
                            <div class="doc-info-cont">
                                <h4 class="doc-name">Dr. {{doctor.firstName}} {{doctor.lastName}}</h4>
                                <p class="doc-department">{{doctor.jobTitle}}</p>
                                <div class="rating">
                                    <i class="fas fa-star" [ngClass]="ratingAverage >= 1 ? 'filled' : ''"></i>
                                    <i class="fas fa-star" [ngClass]="ratingAverage >= 2 ? 'filled' : ''"></i>
                                    <i class="fas fa-star" [ngClass]="ratingAverage >= 3 ? 'filled' : ''"></i>
                                    <i class="fas fa-star" [ngClass]="ratingAverage >= 4 ? 'filled' : ''"></i>
                                    <i class="fas fa-star" [ngClass]="ratingAverage >= 5 ? 'filled' : ''"></i>
                                    <span class="d-inline-block average-rating" *ngIf="feedbacks && feedbacks.length > 0">({{feedbacks.length}})</span>
                                </div>
                                <div class="clinic-details">
                                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i>
                                        <span *ngIf="doctor.cityName"> {{doctor.cityName}}</span>
                                        <span *ngIf="!doctor.cityName"> Address not mentioned</span>
                                    </p>
                                    <ul class="clinic-gallery">
                                        <li>
                                            <a routerLink="assets/img/features/feature-01.jpg" data-fancybox="gallery">
                                                <img src="assets/img/features/feature-01.jpg" alt="Feature">
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="assets/img/features/feature-02.jpg" data-fancybox="gallery">
                                                <img  src="assets/img/features/feature-02.jpg" alt="Feature Image">
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="assets/img/features/feature-03.jpg" data-fancybox="gallery">
                                                <img src="assets/img/features/feature-03.jpg" alt="Feature">
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="assets/img/features/feature-04.jpg" data-fancybox="gallery">
                                                <img src="assets/img/features/feature-04.jpg" alt="Feature">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clinic-services">
                                    <span *ngFor="let speciality of doctor.specialtyNames">{{speciality}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="doc-info-right">
                            <div class="clini-infos">
                                <ul>
                                    <li><i class="far fa-comment"></i> {{doctor.feedbacks.length}} Feedback</li>
                                    <li><i class="fas fa-map-marker-alt"></i>
                                        <span *ngIf="doctor.cityName"> {{doctor.cityName}}</span>
                                        <span *ngIf="!doctor.cityName"> Address not mentioned</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-hand-holding-usd"></i>
                                        <span *ngIf="doctor.insuranceNames && doctor.insuranceNames.length > 0">
                                            <span *ngFor="let insurance of doctor.insuranceNames; let j = index">
                                                {{insurance}}<span *ngIf="j < doctor.insuranceNames.length - 1">,</span>
                                            </span>
                                        </span>
                                        <span *ngIf="!doctor.insuranceNames || (doctor.insuranceNames && doctor.insuranceNames.length == 0)">
                                            No insurances defined
                                        </span>
                                    </li>
                                    <li *ngIf="doctor.phoneNumbers && doctor.phoneNumbers.length > 0 ">
                                        <i class="fas fa-phone"></i>
                                        <span> {{doctor.phoneNumbers[0]}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="clinic-booking">
                                <a class="apt-btn" (click)="bookAppointment(doctor.id)">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Widget -->

            <!-- Doctor Details Tab -->
            <div class="card">
                <div class="card-body pt-0">

                    <!-- Tab Menu -->
                    <nav class="user-tabs mb-4">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" href="#doc_reviews" data-toggle="tab">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#doc_business_hours" data-toggle="tab">Business Hours</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Tab Menu -->

                    <!-- Tab Content -->
                    <div class="tab-content pt-0">

                        <!-- Reviews Content -->
                        <div role="tabpanel" id="doc_reviews" class="tab-pane fade show active">

                            <!-- Review Listing -->
                            <div class="widget review-listing" *ngIf="feedbacks && feedbacks.length > 0">
                                <ul class="comments-list">

                                    <!-- Comment List -->
                                    <ng-container  *ngFor="let feedback of feedbacks; let i=index">
                                        <li *ngIf="i < pageSize">
                                            <div class="comment">
                                                <img class="avatar avatar-sm rounded-circle"
                                                    src="https://ui-avatars.com/api/?name={{feedback.patient.firstName + '+' + feedback.patient.lastName}}&length=2&bold=true&rounded=true&background-color='b8d8f3'}}"
                                                    width="31" alt="{{feedback.patient.firstName + '+' + feedback.patient.lastName}}">
                                                <div class="comment-body" style="width: 100%;">
                                                    <div class="meta-data">
                                                        <span class="comment-author">{{feedback.patient.firstName}} {{feedback.patient.lastName}}</span>
                                                        <!-- <span class="comment-date">Reviewed 2 Days ago</span> -->
                                                        <div class="review-count rating">
                                                            <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 1}"></i>
                                                            <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 2}"></i>
                                                            <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 3}"></i>
                                                            <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 4}"></i>
                                                            <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 5}"></i>
                                                        </div>
                                                    </div>
                                                    <p class="recommended" *ngIf="feedback.rating >= 3">
                                                        <i class="far fa-thumbs-up"></i> I recommend the doctor
                                                    </p>
                                                    <p class="comment-content">
                                                        {{feedback.comment}}
                                                    </p>
                                                </div>
                                            </div>
                                                                                    
                                        </li>
                                    </ng-container>
                                    <!-- /Comment List -->

                                </ul>

                                <!-- Show All -->
                                <div class="all-feedback text-center" *ngIf="feedbacks && feedbacks.length > pageSize">
                                    <a  class="btn btn-primary btn-sm" (click)="loadMore()">
                                        Show all feedback <strong>({{feedbacks.length}})</strong>
                                    </a>
                                </div>
                                <!-- /Show All -->

                            </div>
                            <!-- /Review Listing -->

                            <!-- Write Review -->
                            <div class="write-review">
                                <h4>Write a review for <strong *ngIf="doctor">Dr. {{doctor.firstName}} {{doctor.lastName}}</strong></h4>

                                <!-- Write Review Form -->
                                <form>
                                    <div class="form-group">
                                        <label>Review</label>
                                        <div class="star-rating">
                                            <input id="star-5" type="radio" name="rating" value="5">
                                            <label for="star-5" title="5 stars" (click)="feedback.rating=5">
                                                <i class="active fa fa-star"></i>
                                            </label>
                                            <input id="star-4" type="radio" name="rating" value="4">
                                            <label for="star-4" title="4 stars" (click)="feedback.rating=4">
                                                <i class="active fa fa-star"></i>
                                            </label>
                                            <input id="star-3" type="radio" name="rating" value="3">
                                            <label for="star-3" title="3 stars" (click)="feedback.rating=3">
                                                <i class="active fa fa-star"></i>
                                            </label>
                                            <input id="star-2" type="radio" name="rating" value="2">
                                            <label for="star-2" title="2 stars" (click)="feedback.rating=2">
                                                <i class="active fa fa-star"></i>
                                            </label>
                                            <input id="star-1" type="radio" name="rating" value="1">
                                            <label for="star-1" title="1 star" (click)="feedback.rating=1">
                                                <i class="active fa fa-star"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Your review</label>
                                        <textarea name="comment" maxlength="200" class="form-control" [(ngModel)]="feedback.comment"></textarea>
                                        
                                        <div class="d-flex justify-content-between mt-3"><small class="text-muted"><span id="chars">100</span> characters remaining</small></div>
                                    </div>
                                    <hr>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn" (click)="addReview()">Add Review</button>
                                    </div>
                                </form>
                                <!-- /Write Review Form -->

                            </div>
                            <!-- /Write Review -->

                        </div>
                        <!-- /Reviews Content -->

                        <!-- Business Hours Content -->
                        <div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">

                                    <!-- Business Hours Widget -->
                                    <div class="widget business-widget" *ngIf="businesHours && businesHours.length > 0">
                                        <div class="widget-content">
                                            <div class="listing-hours">
                                                <div class="listing-day current">
                                                    <div class="day">Today <span>{{newDate | date: 'mediumDate'}}</span></div>
                                                    <div class="time-items">
                                                        <span class="open-status">
                                                            <span class="badge bg-success-light" *ngIf="todayBusinesHours.startTime && todayBusinesHours.endTime">
                                                                Open Now
                                                            </span>
                                                            <span class="badge bg-danger-light" *ngIf="!todayBusinesHours.startTime && !todayBusinesHours.endTime">
                                                                Closed
                                                            </span>
                                                        </span>
                                                        <span class="time" *ngIf="todayBusinesHours.startTime && todayBusinesHours.endTime">
                                                            {{todayBusinesHours.startTime.slice(0,5)}} - {{todayBusinesHours.endTime.slice(0,5)}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="listing-day" *ngFor="let businesHour of businesHours">
                                                    <div class="day">{{businesHour.day}}</div>
                                                    <div class="time-items">
                                                        <span class="time" *ngIf="businesHour.startTime && businesHour.endTime">
                                                            {{businesHour.startTime.slice(0,5)}} - {{businesHour.endTime.slice(0,5)}}
                                                        </span>
                                                        <span class="time" *ngIf="!businesHour.startTime && !businesHour.endTime">
                                                            <span class="badge bg-danger-light">Closed</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Business Hours Widget -->

                                </div>
                            </div>
                        </div>
                        <!-- /Business Hours Content -->

                    </div>
                </div>
            </div>
            <!-- /Doctor Details Tab -->

        </div>
    </div>
    <!-- /Page Content -->

</div>
<!-- /Main Wrapper -->

<!-- Voice Call Modal -->
<div class="modal fade call-modal" id="voice_call">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Outgoing Call -->
                <div class="call-box incoming-box">
                    <div class="call-wrapper">
                        <div class="call-inner">
                            <div class="call-user">
                                <img alt="User Image" src="assets/img/doctors/doctor-thumb-02.jpg" class="call-avatar">
                                <h4>Dr. Darren Elder</h4>
                                <span>Connecting...</span>
                            </div>
                            <div class="call-items">
                                <a routerLink="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
                                <a routerLink="voice-call" class="btn call-item call-start"><i class="material-icons">call</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Outgoing Call -->

            </div>
        </div>
    </div>
</div>
<!-- /Voice Call Modal -->

<!-- Video Call Modal -->
<div class="modal fade call-modal" id="video_call">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <!-- Incoming Call -->
                <div class="call-box incoming-box">
                    <div class="call-wrapper">
                        <div class="call-inner">
                            <div class="call-user">
                                <img class="call-avatar" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                <h4>Dr. Darren Elder</h4>
                                <span>Calling ...</span>
                            </div>
                            <div class="call-items">
                                <a routerLink="javascript:void(0);" class="btn call-item call-end" data-dismiss="modal" aria-label="Close"><i class="material-icons">call_end</i></a>
                                <a routerLink="video-call" class="btn call-item call-start"><i class="material-icons">videocam</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Incoming Call -->

            </div>
        </div>
    </div>
</div>
<!-- Video Call Modal -->
