<!-- Main Wrapper -->
<div class="main-wrapper">


    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">pharmacies</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">2245 matches found for : pharmacies In Tunisia</h2>
                </div>

            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Search Filter -->
                    <div class="card search-filter">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Search Filter</h4>
                        </div>
                        <div class="card-body">
                        <div class="filter-widget">
                          <p-dropdown [options]="items" [(ngModel)]="selectedCity" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Filtre par couvernerat">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedCity">

                                    <div>{{selectedCity.name}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-city pTemplate="item">
                                <div class="country-item">

                                    <div>{{city.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        </div>
                        <div class="filter-widget">
                            <h4>Filtring by timesheet</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type">
                                    <span class="checkmark"></span> Day pharmacy
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type">
                                    <span class="checkmark"></span> Night pharmacy
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type">
                                    <span class="checkmark"></span> Duty pharmacy (week-ends)
                                </label>
                            </div>
                        </div>

                            <div class="btn-search">
                                <button type="button" class="btn btn-block">Search</button>
                            </div>
                        </div>
                    </div>
                    <!-- /Search Filter -->

                </div>

                <div class="col-md-12 col-lg-8 col-xl-9">

                    <!-- Doctor Widget -->
                    <div  *ngFor="let pharmacie of pharmacies ; let i = index">
                    <div class="card" *ngIf="i < pageSize">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img1">
                                        <a routerLink="pharmacy-details">
                                            <img src="assets/img/medical-img1.jpg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h4 class="doc-name mb-2"><a routerLink="pharmacy-details">{{pharmacie.name}}</a></h4>

                                        <div class="clinic-details">
                                            <div class="clini-infos pt-3">

                                            <p class="doc-location mb-2"><i class="fas fa-phone-volume mr-1"></i> {{pharmacie.phoneNumber}}</p>
                                            <p class="doc-location mb-2 text-ellipse"><i class="fas fa-map-marker-alt mr-1"></i> {{pharmacie.city}} </p>
                                            <p class="doc-location mb-2 text-ellipse"><i class="fas fa-map-marker-alt mr-1"></i> {{pharmacie.address}} </p>

                                            <p class="doc-location mb-2"><i class="fas fa-chevron-right mr-1"></i> Open time: {{pharmacie.startTime}}</p>
                                            <p class="doc-location mb-2"><i class="fas fa-sign-out-alt mr-1"></i> Close time: {{pharmacie.endTime}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="doc-info-right">
                                  <div class="clinic-booking">
                                    <p-button icon="pi pi-calendar" (click)="showPcrDialog()" label="PCR test"></p-button><br><br><br>
                                    <p-button icon="pi pi-calendar" (click)="showPcrDialogVacc()" label="Vaccination"></p-button>


                                    <p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
                                        <app-pcr-test (pcr)="bookingPcr($event)"></app-pcr-test>
                                        <ng-template pTemplate="footer">

                                            <p-button icon="pi pi-check" (click)="displayBasic=false" label="Cancel" styleClass="p-button-text"></p-button>
                                            <p-button label="Submit" icon="pi pi-check"></p-button>
                                          </ng-template>
                                    </p-dialog>
                                    <p-dialog header="Header" [(visible)]="displayBasicVacc" [style]="{width: '50vw'}" [baseZIndex]="10000">
                                      <app-vaccination></app-vaccination>
                                      <ng-template pTemplate="footer">
                                          <p-button icon="pi pi-check" (click)="displayBasicVacc=false" label="Ok" styleClass="p-button-text"></p-button>
                                      </ng-template>
                                  </p-dialog>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                    <!-- /Doctor Widget -->





                    <div class="load-more text-center" *ngIf="pharmacies.length > pageSize">
                        <a class="btn btn-primary btn-md" (click)="loadMore()">Load More</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->

</div>
<!-- /Main Wrapper -->
