<div class="row">
  <div class="col-sm-6 col-md-4 col-xl-6" *ngFor="let doctor of doctors; let i=index">
    <div class="profile-widget" *ngIf="i < pageSize">
      <div class="doc-img">
          <a (click)="viewDoctorProfile(doctor.id)">
              <img src="assets/img/doctors/doctor_{{doctor.gender.toLowerCase()}}.jpg" class="img-fluid" alt="User Image">
          </a>
          <a class="fav-btn">
              <i class="far fa-bookmark"></i>
          </a>
      </div>
      <div class="pro-content">
          <h3 class="title">
              <a routerLink="doctor-profile">Dr. {{doctor.firstName}} {{doctor.lastName}}</a>
              <i class="fas fa-check-circle verified"></i>
          </h3>
          <p class="speciality">{{doctor.jobTitle}}</p>
          <div class="rating">
              <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 1 ? 'filled' : ''"></i>
              <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 2 ? 'filled' : ''"></i>
              <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 3 ? 'filled' : ''"></i>
              <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 4 ? 'filled' : ''"></i>
              <i class="fas fa-star" [ngClass]="doctor.ratingAverage >= 5 ? 'filled' : ''"></i>
              <span class="d-inline-block average-rating">({{doctor.feedbacks.length}})</span>
          </div>
          <ul class="available-info">
              <li>
                  <i class="fas fa-map-marker-alt"></i>
                  <span *ngIf="doctor.city"> {{doctor.cityName}}</span>
                  <span *ngIf="!doctor.city"> Address not mentioned</span>
              </li>
              <li>
                  <i class="far fa-clock"></i> Available on Fri, 22 Mar
              </li>
              <li>
                <i class="fas fa-hand-holding-usd"></i>
                <span *ngIf="doctor.insuranceNames && doctor.insuranceNames.length > 0">
                  <span *ngFor="let insurance of doctor.insuranceNames; let j = index">
                      {{insurance.name}}<span *ngIf="j < doctor.insuranceNames.length - 1">,</span>
                  </span>
                </span>
                <span *ngIf="!doctor.insuranceNames || (doctor.insuranceNames && doctor.insuranceNames.length == 0)">
                    No insurances defined
                </span>
              </li>
          </ul>
          <div class="row row-sm">
              <div class="col-6">
                  <a class="btn view-btn" (click)="viewDoctorProfile(doctor.id)">View Profile</a>
              </div>
              <div class="col-6">
                  <a class="btn book-btn" (click)="bookAppointment(doctor.id)">Book Now</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
