<div class="row row-grid">
  <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let patient of patientsList; let i = index">
    <div class="card widget-profile pat-widget-profile">
      <div class="card-body">
        <div class="pro-widget-content">
          <div class="profile-info-widget">
            <a routerLink="patient-profile" class="booking-doc-img">
              <img src="/assets/img/patients/patient_{{patient.gender.toLowerCase()}}.png" alt="User Image">
            </a>
            <div class="profile-det-info">
              <h3><a routerLink="patient-profile">{{patient.firstName + ' ' + patient.lastName}}</a></h3>

              <div class="patient-details">
                <h5><b>Patient ID :</b> {{patient.id}}</h5>
                <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>
                  {{patient.address ? patient.address : 'Not mentioned'}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="patient-info">
          <ul>
            <li>Email <span>{{patient.email ? patient.email : 'Not mentioned'}}</span></li>
            <li>Phone <span>{{patient.phoneNumber ? patient.phoneNumber : 'Not mentioned'}}</span></li>
            <li>Age <span>{{agesList[i]}} Years, {{patient.gender ? patient.gender : 'Not mentioned'}}</span></li>
            <li>Blood Group <span>{{patient.bloodGroup ? patient.bloodGroup : 'Not mentioned'}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3" *ngIf="!patientsList || patientsList.length == 0">
    <div class="no-data">
      <br>
      <div><img class="avatar-img" width="60" height="60" src="/assets/img/doctors/doctor-dashboard/cloud.png"
          alt="User Image"></div>
      <div>No patients yet</div>
      <br>
    </div>
  </div>
</div>
