<!-- Basic Information -->
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Basic Information</h4>
    <div class="row form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Email <span class="text-danger">*</span></label>
          <input [(ngModel)]="currentUser.email" type="email" [(ngModel)]="currentUser.email" class="form-control"
            readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>First Name <span class="text-danger">*</span></label>
          <input [(ngModel)]="currentUser.firstName" type="text" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Last Name <span class="text-danger">*</span></label>
          <input [(ngModel)]="currentUser.lastName" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone Number</label>
          <input [(ngModel)]="currentUser.phoneNumber" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Gender</label>
          <p-dropdown [options]="genders" [(ngModel)]="currentUser.gender" name="gender" placeholder="Gender"
            #gender="ngModel" required>
            <ng-template let-gender pTemplate="item">
              {{gender}}
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="form-group mb-0">
          <label>Date of Birth</label>
          <p-calendar [yearRange]="yearRange" [yearNavigator]="true" [monthNavigator]="true"
            [(ngModel)]="currentUser.birthDate" placeholder="Birth Date" [showIcon]="true" name="birthDate"
            #birthDateForm="ngModel" required></p-calendar>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- /Basic Information -->

<!-- Contact Details -->
<div class="card contact-card">
  <div class="card-body">
    <h4 class="card-title">Contact Details</h4>
    <div class="row form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Address</label>
          <input [(ngModel)]="currentUser.address" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>City</label>
          <p-dropdown [options]="cities" [(ngModel)]="currentUser.city" optionLabel="name" optionValue="id" name="city"
            [filter]="true" filterBy="name" [showClear]="true" placeholder="City" #city="ngModel" required>
            <ng-template let-city pTemplate="item">
              {{city.name}}
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Contact Details -->

<!-- Services and Specialization -->
<div class="card services-card">
  <div class="card-body">
    <h4 class="card-title">Job Title, Insurance & Specialization</h4>
    <div class="row form-row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Job Title</label>
          <input [(ngModel)]="currentUser.jobTitle" type="text" data-role="tagsinput" class="input-tags form-control"
            placeholder="Job Title" name="jobTitle" id="jobTitle">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0">
          <label>Specialization </label>
          <br>
          <p-multiSelect [options]="specialities" [(ngModel)]="currentUser.specialties" optionLabel="name"
            optionValue="id">
          </p-multiSelect>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0">
          <label>Insurances </label>
          <br>
          <p-multiSelect [options]="insurances" [(ngModel)]="currentUser.insurances" optionLabel="name"
            optionValue="id">
          </p-multiSelect>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Services and Specialization -->


<div class="submit-section submit-btn-bottom">
  <button type="submit" (click)="submit()" class="btn btn-primary submit-btn">Save Changes</button>
</div>
