<div class="card">
    <div class="card-body pt-0">
    
        <!-- Tab Menu -->
        <nav class="user-tabs mb-4">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" style="text-align: left;" href="#pat_appointments" data-toggle="tab">Appointments</a>
                </li>
            </ul>
        </nav>
        <!-- /Tab Menu -->
        
        <!-- Tab Content -->
        <div class="tab-content pt-0">
            
            <!-- Appointment Tab -->
            <div id="pat_appointments" class="tab-pane fade show active">
                <div class="card card-table mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Doctor</th>
                                        <th>Appt Date</th>
                                        <th>Amount</th>
                                        <th>Follow Up</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let appointment of appointmentsList">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a (click)="viewDoctorProfile(appointment.doctor.id)" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle"
                                                        src="assets/img/doctors/doctor_{{appointment.doctor.gender.toLowerCase()}}.jpg"
                                                        alt="User Image">
                                                </a>
                                                <a (click)="viewDoctorProfile(appointment.doctor.id)">
                                                    Dr. {{appointment.doctor.firstName + ' ' + appointment.doctor.lastName}}
                                                    <span>#ID{{appointment.patient.id}}</span>
                                                </a>
                                            </h2>
                                        </td>
                                        <td>{{ appointment.date | date: 'MMM d, y' }} <span 
                                            class="d-block text-info">{{appointment.startTime}}</span></td>
                                        <td>$160</td>
                                        <td>16 Nov 2019</td>
                                        <td>
                                            <span class="badge badge-pill" 
                                                [ngClass]="{'bg-success-light' : appointment.status == 'confirmed', 
                                                'bg-warning-light' : appointment.status == 'pending', 
                                                'bg-danger-light' : appointment.status == 'canceled'}">{{appointment.status}}</span>

                                        </td>
                                        <td class="text-right">
                                            <div class="table-action">
                                                <a (click)="viewDoctorProfile(appointment.doctor.id)" class="btn btn-sm bg-info-light">
                                                    <i class="far fa-eye"></i> View Doctor Profile
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="no-data" *ngIf="!appointmentsList || appointmentsList.length == 0">
                                <br>
                                <div><img class="avatar-img" width="60" height="60"
                                  src="/assets/img/doctors/doctor-dashboard/checklist.png"
                                  alt="User Image"></div>
                                <div>No remaining appointments</div>
                                <br>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Appointment Tab -->

        </div>
        <!-- Tab Content -->
        
    </div>
</div>