<div class="row">
  <div class="col-md-12">
    <div class="card dash-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar1">
                <div class="circle-graph1" data-percent="75">
                  <img src="/assets/img/doctors/doctor-dashboard/001-hospitalisation.png" class="img-fluid" height="50"
                    width="70" alt="patient">
                </div>
              </div>
              <div class="dash-widget-info">
                <h6>Total Patients</h6>
                <h3>{{statics.totalPatients}}</h3>
                <p class="text-muted">Till Today</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar2">
                <div class="circle-graph2" data-percent="65">
                  <img src="/assets/img/doctors/doctor-dashboard/004-people.png" class="img-fluid" height="50"
                    width="70" alt="patient">
                </div>
              </div>
              <div class="dash-widget-info">
                <h6>Today Patients</h6>
                <h3>{{statics.todayPatients}}</h3>
                <p class="text-muted">{{ currentDate | date: 'MMM d, y' }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="dash-widget">
              <div class="circle-bar circle-bar3">
                <div class="circle-graph3" data-percent="50">
                  <img src="/assets/img/doctors/doctor-dashboard/003-appointment.png" class="img-fluid" height="50"
                    width="70" alt="patient">
                </div>
              </div>
              <div class="dash-widget-info">
                <h6>Appoinments</h6>
                <h3>{{statics.appoinments}}</h3>
                <p class="text-muted">{{ currentDate | date: 'MMM d, y' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Patient Appoinment</h4>
    <span style="font-size: 0.9em;">{{isTodaySelected ? todayAppointmentsList.length : upcomingAppointmentsList.length}}
      element(s)</span>
    <div class="appointment-tab">

      <!-- Appointment Tab -->
      <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': !isTodaySelected}" (click)="isTodaySelected = false;">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isTodaySelected}" (click)="isTodaySelected = true;">Today</a>
        </li>
      </ul>
      <!-- /Appointment Tab -->

      <div class="tab-content">
        <!-- Upcoming Appointment Tab -->
        <div *ngIf="!isTodaySelected" class="tab-pane show active" id="upcoming-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Appt Date</th>
                      <th>Purpose</th>
                      <th>Type</th>
                      <th class="text-center">Paid Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of upcomingAppointmentsList">
                      <td>
                        <h2 class="table-avatar">
                          <a class="avatar avatar-sm mr-2" (click)="viewAppointment(appointment)">
                            <img class="avatar-img rounded-circle"
                              src="/assets/img/patients/patient_{{appointment.patient.gender.toLowerCase()}}.png"
                              alt="User Image">
                          </a>
                          <a (click)="viewAppointment(appointment)">
                            <span>{{appointment.patient.firstName + ' ' + appointment.patient.lastName}}</span>
                            <span>#ID{{appointment.patient.id}}</span>
                          </a>
                        </h2>
                      </td>
                      <td>{{ appointment.date | date: 'MMM d, y' }} <span
                          class="d-block text-info">{{appointment.startTime}}</span></td>
                      <td>General</td>
                      <td>
                        <div class="d-flex flex-row align-items-center">
                          <img class="avatar-img" width="25" height="25" style="margin-right: 10px;"
                            src="/assets/img/doctors/doctor-dashboard/{{oldPatients['patient_' + appointment.patient.id] ? '002-badge.png' : '003-new.png'}}"
                            alt="User Image">
                          <span>{{oldPatients['patient_' + appointment.patient.id] ? 'Registered Patient' : 'New Patient'}}</span>
                        </div>
                      </td>
                      <td class="text-center">80 TND</td>
                      <td class="text-right">
                        <div class="table-action">
                          <a class="btn btn-sm bg-info-light" style="margin-right: 15px;"
                            (click)="viewAppointment(appointment)">
                            <i class="far fa-eye"></i> View
                          </a>
                          <span *ngIf="appointment.status.toLowerCase() == 'pending'">
                            <a class="btn btn-sm bg-success-light" style="margin-right: 15px;"
                              (click)="approveAppointment(appointment)">
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a class="btn btn-sm bg-danger-light" (click)="rejectAppointment(appointment)">
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </span>
                          <span *ngIf="appointment.status.toLowerCase() == 'approved'">
                            <a class="btn btn-sm bg-success-light" style="margin-right: 15px; cursor: default;">
                              <i class="far fa-smile"></i> Approved
                            </a>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="no-data" *ngIf="!upcomingAppointmentsList || upcomingAppointmentsList.length == 0">
                  <br>
                  <div><img class="avatar-img" width="60" height="60"
                      src="/assets/img/doctors/doctor-dashboard/checklist.png" alt="User Image"></div>
                  <div>No remaining appointments</div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Upcoming Appointment Tab -->
        <!-- Today Appointment Tab -->
        <div *ngIf="isTodaySelected" class="tab-pane show active" id="upcoming-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>Patient Name</th>
                      <th>Appt Date</th>
                      <th>Purpose</th>
                      <th>Type</th>
                      <th class="text-center">Paid Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of todayAppointmentsList">
                      <td>
                        <h2 class="table-avatar">
                          <a class="avatar avatar-sm mr-2" (click)="viewAppointment(appointment)">
                            <img class="avatar-img rounded-circle"
                              src="/assets/img/patients/patient_{{appointment.patient.gender.toLowerCase()}}.png"
                              alt="User Image">
                          </a>
                          <a (click)="viewAppointment(appointment)">
                            <span>{{appointment.patient.firstName + ' ' + appointment.patient.lastName}}</span>
                            <span>#ID{{appointment.patient.id}}</span>
                          </a>
                        </h2>
                      </td>
                      <td>{{ appointment.date | date: 'MMM d, y' }} <span
                          class="d-block text-info">{{appointment.startTime}}</span></td>
                      <td>General</td>
                      <td>
                        <div class="d-flex flex-row align-items-center">
                          <img class="avatar-img" width="25" height="25" style="margin-right: 10px;"
                            src="/assets/img/doctors/doctor-dashboard/{{oldPatients['patient_' + appointment.patient.id] ? '002-badge.png' : '003-new.png'}}"
                            alt="User Image">
                          <span>{{oldPatients['patient_' + appointment.patient.id] ? 'Registered Patient' : 'New Patient'}}</span>
                        </div>
                      </td>
                      <td class="text-center">80 TND</td>
                      <td class="text-right">
                        <div class="table-action">
                          <a class="btn btn-sm bg-info-light" style="margin-right: 15px;"
                            (click)="viewAppointment(appointment)">
                            <i class="far fa-eye"></i> View
                          </a>
                          <span *ngIf="appointment.status.toLowerCase() == 'pending'">
                            <a class="btn btn-sm bg-success-light" style="margin-right: 15px;"
                              (click)="approveAppointment(appointment)">
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a class="btn btn-sm bg-danger-light" (click)="rejectAppointment(appointment)">
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </span>
                          <span *ngIf="appointment.status.toLowerCase() == 'approved'">
                            <a class="btn btn-sm bg-success-light" style="margin-right: 15px; cursor: default;">
                              <i class="far fa-smile"></i> Approved
                            </a>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="no-data" *ngIf="!todayAppointmentsList || todayAppointmentsList.length == 0">
                  <br>
                  <div><img class="avatar-img" width="60" height="60"
                      src="/assets/img/doctors/doctor-dashboard/checklist.png" alt="User Image"></div>
                  <div>No appointments remaining for today</div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Today Appointment Tab -->
      </div>
    </div>
  </div>
</div>


<!-- patient popup -->
<p-dialog header="Patient {{selectedPatient ? ': ' + selectedPatient.firstName + ' ' + selectedPatient.lastName : ''}}"
  [(visible)]="displayPatientPopup" [modal]="true" [style]="{width: 'auto'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false">
  <div *ngIf="selectedPatient">
    <div class="appointment-list">
      <div class="profile-info-widget">
        <a routerLink="patient-profile" class="booking-doc-img">
          <img src="/assets/img/patients/patient_{{selectedPatient.gender.toLowerCase()}}.png" alt="User Image">
        </a>
        <div class="profile-det-info">
          <h3><a routerLink="patient-profile"
              style="margin-right: 10px;">{{selectedPatient.firstName + ' ' + selectedPatient.lastName}}</a></h3>
          <div class="patient-details">
            <h5><i class="far fa-clock"
                style="margin-right: 10px;"></i>{{ selectedAppontment.date | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</h5>
            <h5><i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i>
              {{selectedPatient.address ? selectedPatient.address : 'Not mentioned'}}</h5>
            <h5><i class="fas fa-envelope"
                style="margin-right: 10px;"></i>{{selectedPatient.email ? selectedPatient.email : 'Not mentioned'}}</h5>
            <h5 class="mb-0"><i class="fas fa-phone"
                style="margin-right: 10px;"></i>{{selectedPatient.phoneNumber ? selectedPatient.phoneNumber : 'Not mentioned'}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayPatientPopup=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
