<div class="reviews-custom-container">
  <!-- Reviews Content -->
  <div role="tabpanel" id="doc_reviews" class="tab-pane fade show active">

    <!-- Review Listing -->
    <div class="widget review-listing" *ngIf="feedbacks && feedbacks.length > 0">
      <ul class="comments-list">

        <!-- Comment List -->
        <ng-container *ngFor="let feedback of feedbacks; let i=index">
          <li *ngIf="i < pageSize">
            <div class="comment">
              <img class="avatar avatar-sm rounded-circle"
                src="https://ui-avatars.com/api/?name={{feedback.patient.firstName + '+' + feedback.patient.lastName}}&length=2&bold=true&rounded=true&background-color='b8d8f3'}}"
                width="31" alt="{{feedback.patient.firstName + '+' + feedback.patient.lastName}}">
              <div class="comment-body" style="width: 100%;">
                <div class="meta-data">
                  <span class="comment-author">{{feedback.patient.firstName}}
                    {{feedback.patient.lastName}}</span>
                  <!-- <span class="comment-date">Reviewed 2 Days ago</span> -->
                  <div class="review-count rating">
                    <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 1}"></i>
                    <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 2}"></i>
                    <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 3}"></i>
                    <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 4}"></i>
                    <i class="fas fa-star" [ngClass]="{'filled': feedback.rating >= 5}"></i>
                  </div>
                </div>
                <p class="recommended" *ngIf="feedback.rating >= 3">
                  <i class="far fa-thumbs-up"></i> I recommend the doctor
                </p>
                <p class="comment-content">
                  {{feedback.comment}}
                </p>
              </div>
            </div>

          </li>
        </ng-container>
        <!-- /Comment List -->

      </ul>

      <!-- Show All -->
      <div class="all-feedback text-center" *ngIf="feedbacks && feedbacks.length > pageSize">
        <a class="btn btn-primary btn-sm" (click)="loadMore()">
          Show all feedback <strong>({{feedbacks.length}})</strong>
        </a>
      </div>
      <!-- /Show All -->

    </div>
    <!-- /Review Listing -->
    <div class="no-data" *ngIf="!feedbacks || feedbacks.length == 0">
      <br>
      <div><img class="avatar-img" width="60" height="60" src="/assets/img/doctors/doctor-dashboard/rating.png"
          alt="User Image"></div>
      <div>No reviews yet</div>
      <br>
    </div>
  </div>
  <!-- /Reviews Content -->

</div>
