/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

//toast custom style

.p-toast-message {
  color: black !important;
  background-color: white !important;

  .p-toast-icon-close {
    color: black !important;
  }
}

//toast-error

.toast-error {

  .p-toast-message-icon,
  .p-toast-summary {
    color: #ff0040 !important;
  }
}

.p-toast-message-error {
  border-color: #ff0040 !important;
}

//toast-success

.toast-success {

  .p-toast-message-icon,
  .p-toast-summary {
    color: #2bd480 !important;
  }
}

.p-toast-message-success {
  border-color: #2bd480 !important;
}

//toast-info

.toast-info {

  .p-toast-message-icon,
  .p-toast-summary {
    color: #48b6ff !important;
  }
}

.p-toast-message-info {
  border-color: #48b6ff !important;
}

//toast-warn

.toast-warn {

  .p-toast-message-icon,
  .p-toast-summary {
    color: #FF9404 !important;
  }
}

.p-toast-message-warn {
  border-color: #FF9404 !important;
}

//********************************
.p-dropdown {
  height: 44px !important;
}

.btn-social {
  color: white !important;
}
