/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

//toast custom style

.p-toast-message {
  color: black !important;
  background-color: white !important;

  .p-toast-icon-close {
    color: black !important;
  }
}

//toast-error

.toast-error {
  .p-toast-message-icon,
  .p-toast-summary {
    color: #ff0040 !important;
  }
}

.p-toast-message-error {
  border-color: #ff0040 !important;
}

//toast-success

.toast-success {
  .p-toast-message-icon,
  .p-toast-summary {
    color: #2bd480 !important;
  }
}

.p-toast-message-success {
  border-color: #2bd480 !important;
}

//toast-info

.toast-info {
  .p-toast-message-icon,
  .p-toast-summary {
    color: #48b6ff !important;
  }
}

.p-toast-message-info {
  border-color: #48b6ff !important;
}

//toast-warn

.toast-warn {
  .p-toast-message-icon,
  .p-toast-summary {
    color: #ff9404 !important;
  }
}

.p-toast-message-warn {
  border-color: #ff9404 !important;
}

//********************************
.p-dropdown {
  height: 44px !important;
}

.form-group {
  .p-dropdown {
    height: 50px !important;
    width: 100%;
    align-items: center;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    color: #b8b8b8;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
  }

  .p-calendar {
    height: 46px;
    width: 100%;
  }
}

.btn-social {
  color: rgb(170, 166, 166) !important;
}

.p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
.p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
  background: #0de0fe !important;
  color: white !important;
}

.custom-form-error {
  color: #ff0040;
  font-size: 0.85em;
  margin-top: 1px;
}

.invalid-input {
  input,
  p-dropdown > div {
    border: 1px solid #ff0040;
  }
}

.valid-input {
  input,
  p-dropdown > div {
    border: 1px solid #2bd480;
  }
}

.no-data {
  text-align: center;
  align-self: center;
  font-size: 25px;
  font-weight: 400;
}


/* buttons */
.green-btn .p-button	{
  background-color: #09e5ab !important;
  border: 1px solid #09e5ab !important;
  color: #15558d !important;
}

.semi-bold-btn .p-button	{
  font-weight: 600 !important;
}

.bold-btn .p-button	{
  font-weight: bold !important;
}

