<form>
  <div class="row">
  <div class="col 12">
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">CIN</label>
</span>

<span class="p-float-label">
  <input id="float-input" type="text" pInputText>
  <label for="float-input">First Name</label>
</span>
<span class="p-float-label">
  <input id="float-input" type="text" pInputText>
  <label for="float-input">Last Name</label>
</span>
<span class="p-float-label">
  <input id="float-input" type="text" pInputText>
  <label for="float-input">Day</label>
</span>
<span class="p-float-label">
  <input id="float-input" type="text" pInputText>
  <label for="float-input">Time</label>
</span>
</div>
</div>
</form>
